main {
	display: flex;
	justify-content: center;
}

aside {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

article div {
	height: 33%;
}

article img {
	height: 281px; /*Par rapport à div*/
	width: 557px;
	object-fit: cover;
}

img.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}