body {
	font-family: Helvetica;
	background-image: linear-gradient(
		to bottom,
		#d70047,
		#ecf76f);
	background-color: #d70047;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 1px 1px 2px gray;
}

main div {
	padding: 50px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: fixed;
	top:50%;
	margin-top: -150px;
	background-image: linear-gradient(
		-45deg,
		#d70047,
		#ecf76f);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	height: 300px;
	vertical-align: middle;
}

nav div {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.5em;
}

a {
	color: #ecf76f;
	text-decoration: none;
}

nav div a {
	color:white;
}

div.profil {
	text-align: center;
}

div.bio {
	margin-top: 90px;
	display: flex;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

div.bio img {
	max-width: 50%;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}

article div {
	margin-top : 50px;
	border-radius : 5px;
	text-shadow: 1px 1px 2px black;
}

article h1 {
	font-size: 32px;
}

article img {
	display: block;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.article1 {
	display: block;
	background-image: url('../img/epitaph.png');
	background-size: cover;
}

.article2 {
	display: block;
	background-image: url('../img/mimic-gotta-sneak.png');
	background-size: cover;
}

.article3 {
	display: block;
	background-image: url('../img/oneusehero.png');
	background-size: cover;
}

/*Parcours*/

.parcours {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: 50%;
	border-radius: 5px;
	color: black;
	text-shadow: none;
}

.parcours a {
	color: gray;
	font-style: italic;
}

/*Contact*/

div.contact {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	background-color: #d70047;
	margin-top: 5px;
	margin-bottom: -5px;
}