body {
	background-color: black;
}

main {
	display: flex;
	justify-content: space-around;
	padding-top: 25px;
	padding-bottom: 25px;
}

div.parcours {
	background-color: white;
	border-radius: 25px;
	padding: 20px;
	font-size: large;
	max-width: 50%;
	align-self: flex-start;
}

div.parcours img {
	max-width: 100%;
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

nav div {
	width: 20%;
	background-color: white;
	border-radius: 5px;
}

nav a {
	color: black;
	font-style: bold;
}

nav p {
	text-align: center;
}

aside {
	width: 45%;
	height: 100%;
	display: flex;
	height: 1600px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

aside div {
	padding: 10px;
	align-items: center;
	background-color: white;
	border-radius: 25px;
}

aside img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	border: 5px dashed black;
}

aside p {
	font-family: "Verdana";
}

div.profil p {
	text-align: center;
}
article {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 25px;
	padding: 5px;
}

article div {
	height: 33%;
}

article img {
	height: 281px; /*Par rapport à div*/
	width: 557px;
	object-fit: cover;
	border: 5px dashed black;
}

p {
	text-align: justify;
}

h1 {
	text-align: center;
	font-family: "Verdana";
}

h2 {
	text-align: center;
	font-family: "Verdana";
}

h3 {
	font-family: "Verdana";
}

h4 {
	font-family: "Verdana";
}

img.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}